<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.diagnostics>
        <trace autoflush="true" />
        <sources>
            <source name="MicMuter" switchValue="Verbose">
                <listeners>
                    <add name="textListener" initializeData="MicMuter.log" traceOutputOptions="None" type="System.Diagnostics.TextWriterTraceListener" />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
</configuration>
